<%- include('navbar') %>





<form class="shadow p-3 mb-5 bg-body-tertiary rounded m-5" >

  <div class="row mb-3 m-5">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Sid</label>
    <div class="col-sm-5">
      <input type="text" class="form-control rounded-3" id="inputEmail3"  value="<%= data._id %>" readonly>
    </div> 
  </div>
  <div class="row mb-2 m-5">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control rounded-3" id="inputPassword3"  value="<%= data.username %>" readonly>
    </div>
  </div>
   <div class="row mb-2 m-5">
    <label for="inputPassword3" class="col-sm-2 col-form-label">User Email</label>
    <div class="col-sm-5">
      <input type="text" class="form-control rounded-3" id="inputPassword3"  value="<%= data.user_email %>" readonly>
    </div>
  </div>
   <!-- <div class="row mb-2 m-5">
    <label for="inputPassword3" class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-5">
      <input type="text" class="form-control rounded-3" id="inputPassword3"  value="<%= data.city %>" readonly>
    </div>
  </div>

  <div class="row mb-2 m-5">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-5">
      <input type="text" class="form-control rounded-3" id="inputPassword3"  value="<%= data.dept %>" readonly>
    </div>
  </div> -->
  
  
  
      </div>
    </div>
  </div>
  <a type="button" href="/crudRoutes/update/<%= data._id %>" class="btn btn-outline-info mx-auto">Update</a>
   <a type="button" href="/crudRoutes/read" class="btn btn-outline-info mx-auto">Home</a>
   <a type="button" href="/crudRoutes/image/<%= data._id %>" class="btn btn-outline-info mx-auto">Image</a>  
</form>









<%- include('footer') %>